/Slide2Demo/target/
/Slide2Demo/nbproject/
/DemoJUnit/nbproject/private/
/DemoJUnit/build/
/MathUtil/nbproject/private/
/MathUtil/build/
/JUnit5/nbproject/private/
/MathUtill/nbproject/private/
/MathUtill/build/
